main.content

	section.about

		article.about__introduction

			h3.about__heading ТЕХНОСИТИ

			p.about__text.
				Разработка и создание прототипов<br>для интернет-магазина

			p.about__text.
				Разработка проекта началась с исследования<br> интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный<br>и имеет много вложенных подразделов. Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.

			p.about__text.
				Так же нужно было учесть важные особенности компании, такие как специализация на отдельных брендах.  

		aside.about__goals

			p.goals__list__item Задача

			p.goals__list__item-descr.
				Разработать прототипы и структуру для обновленного интернет-магазина

			p.goals__list__item Платформа

			p.goals__list__item-descr.
				 Адаптивный сайт для десктопа  и мобильной версии

			p.goals__list__item.
				UX/UI Design, Web-design

	section.numbers
		.numbers__background
			.numbers__inner

				p.numbers__heading Очень важные для всех цифры

				ul.numbers__list

					li.numbers__list__item 
						p.list__big-number 20
						p.list__text.
							Часов затрачено<br>на проектирование

					li.numbers__list__item
						p.list__big-number 11%
						p.list__text.
							Предположительное увеличение конверсии при запуксе новго дизайна

					li.numbers__list__item
						p.list__big-number 2,5
						p.list__text.
							Столько часов делалась эта презентация проекта

					li.numbers__list__item
						p.list__big-number 0
						p.list__text.
							Именно  столько денег мы получили за этот проект
			
		article.numbers__dev

			p.numbers__text.
				Разработка проекта началась с исследования интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный и имеет много вложенных подразделов. Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.		

	section.desktop__ver

		.desktop__img
			img(src='../../../static/img/iPad_Mockup.png')

		.desktop__descr

			p.desktop__heading.
				Версия для десктопа

			p.desktop__text.
				Разработка проекта началась с исследования интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный и имеет много вложенных подразделов. Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.

	section.mobile__ver
	
		.mobile__img

		.mobile__descr

			p.mobile__heading.
				Мобильная версия

			p.mobile__text.
				Разработка проекта началась с исследования интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный и имеет много вложенных подразделов. Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.
	
	section.slider__wrapper 1

	
	section.dev__descr

		p.descr__text.
				Разработка проекта началась с исследования интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный и имеет много вложенных подразделов. Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.	
		
		.dev__img
			img(src="../../../static/img/Phone_5s.png")

		.slider-controls
			span.slide-tog
			span.slide-tog
			span.slide-tog.slide-tog_active
			span.slide-tog
			span.slide-tog

		.dev__ceo

			.dev__container_inner

				.dev__user
					img(src="../../../static/img/Layer_1_copy_3.png")

					p.dev__name.
						Sam Yakushev

					p.dev__rank.
						CEO

				.dev__review

					p.dev__text.
						«Мы портатили много врмени на иследование. Для нас стояла задача сделать не очередной магазин, а действительно качетсвенный продукт.

					p.dev__text.
						Разработка проекта началась с исследования интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный и имеет много вложенных подразделов. 


					p.dev__text.
						Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.»

	section.catalog

		.catalog__structure

			p.catalog__heading.
				Устройство каталога

			p.catalog__text.
				Разработка проекта началась с исследования интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный и имеет много вложенных подразделов. Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.
		
		.catalog__content
			img(src="../../../static/img/Technocity_catalog_desktop.png")
		

		p.catalog__text.catalog__text_mod.
			Разработка проекта началась с исследования интернет-магазинов с подобным устройстотвом каталога. Сложность состояла в том, что каталог очень массивный и имеет много вложенных подразделов. Учитывая все эти особенности он так же должен быть удобен на мобильной адаптивной версии сайта.

		p.catalog__heading.
			Команда проекта

		.catalog__team
			img(src="../../../static/img/Layer_1_copy_3.png")
			img(src="../../../static/img/Layer_1_copy_3.png")
			img(src="../../../static/img/Layer_1_copy_3.png")
	
	section.projects

		.projects__img

			.projects__overlay
				

	section.feedback

		p.feedback__heading.
			Напишите нам

		.feedback__container

			form(action="#")

		

		
