footer.footer 

	.footer__container

		.footer__logo 
			a(href='#').footer__logo-img
				img(src='../../../static/img/Logo_2.png')

			p.footer__text.
				Аутсорсинговое агентство
				©2017 Mega Star Digital Parnter

		.footer__nav 

			.footer__nav-about

				a(href="#").footer__nav-title-link.
					о студии

				a(href="tel:+74992555788").footer__nav-link.
					+7 (499) 255 57 88

			.footer__nav-projects
				a(href="#").footer__nav-title-link.
					проекты

				a(href="mailto:info@megastar.com").footer__nav-link.
					info@megastar.com

			.footer__nav-contacts
				a(href="#").footer__nav-title-link.
					контакты
				
		
		.footer__socials
			a(href='#').footer__socials-vk
				img(src='../../../static/img/footer_vk.png')

			a(href='#').footer__socials-fb
				img(src='../../../static/img/footer_fb.png')

			a(href='#').footer__socials-insta
				img(src='../../../static/img/footer_insta.png')
