@font-face 
	font-family 'Lato Regular'
	src url('../../../static/fonts/Lato/Lato-Regular.eot')
	src url('../../../static/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
 		url('../../../static/fonts/Lato/Lato-Regular.woff') format('woff'),
		url('../../../static/fonts/Lato/Lato-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face 
	font-family 'Lato Bold'
	src url('../../../static/fonts/Lato/Lato-Bold.eot')
	src url('../../../static/fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
 		url('../../../static/fonts/Lato/Lato-Bold.woff') format('woff'),
		url('../../../static/fonts/Lato/Lato-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal

@font-face 
	font-family 'Lato Italic'
	src url('../../../static/fonts/Lato/Lato-Italic.eot')
	src url('../../../static/fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
 		url('../../../static/fonts/Lato/Lato-Italic.woff') format('woff'),
		url('../../../static/fonts/Lato/Lato-Italic.ttf') format('truetype')
	font-weight normal
	font-style normal


regular()
	font-family 'Lato Regular', sans-serif

bold()
	font-family 'Lato Bold', sans-serif

italic()
	font-family 'Lato Italic', sans-serif


body
	color fontColor
	regular()








/*   ---CSS---
@font-face {
	font-family: 'Lato Regular';
	src: url('Lato-Regular.eot');
	src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url('Lato-Regular.woff') format('woff'),
	url('Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Bold';
	src: url('Lato-Bold.eot');
	src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),
	url('Lato-Bold.woff') format('woff'),
	url('Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Italic';
	src: url('Lato-Italic.eot');
	src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'),
	url('Lato-Italic.woff') format('woff'),
	url('Lato-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/

/* ---old---

@font-face
	font-family Lato
	font-style normal
	font-weight 400
	src local("Lato Regular"),
		url(fonts/Lato/Lato-Regular.ttf)
		
@font-face
	font-family Lato
	font-style normal
	font-weight 700
	src local("Lato Bold"),
		url(fonts/Lato/Lato-Bold.ttf)
	
html
	font-family Lato, sans-serif
	
*/