@import "optimize"
@import "variables"
@import "fonts"


@import "header"
@import "content"
@import "footer"



@import "libs"













/*.slider-item	
	background-color #ccc
	width 500px
	height 200px
	padding 20px
	margin 0 20px
*/
